.Figma{
    max-width: 1200px;
    margin: 0 auto;
}

.nav :hover{
    color: aqua;
}

.learn-more :hover{
    background-color: #485C11;
    color: #ffffff;
}

.button :hover{
    background-color: #485C11;
    color: white;
}

.table-1{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 120px;
    gap: 20px;
}

.image-1{
    display: none;
}

.image-button{
    display: none;
}

.sidebar{
    display: contents;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 30px;
}

.logo{
    font-size: 20px;
}

.header ul li{
    font-size: 45px;
}

.header ul li a{
    font-size: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
}
.menu li a:hover {
    color: aqua;
}
.learn-more button {
    background-color: #DFECC6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 127px;
    height: 48px;
    border-radius: 35px;
    margin-top: 22px;
    color: #000000;
    box-shadow: none;
    border: none;
    outline: none;
}

.banner {
    text-align: center;
    width: 100%;

}

.banner h2 {
    font-size: 100px;
}

.image {
    position: relative;
    height: 500px;
}

.image img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.background {
    background-color: #8E9C78;
    width: 100%;
    height: 362px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
}

.text-common{
    color: #6F6F6F;
}

.text-color{
    color: #8E9C78;
}

.companies {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #929292 ;
}

.lego{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.benefits {
    padding-top: 80px;
    padding-bottom: 60px;
}

.benefits h1{
    font-size: 60px;
    font-weight: 400;
}


.modules1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 285px;
    height: 250px;
}

.modules1 img{
    width: 20.39px;
    height: 19.02px;
}

.modules{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 20px;
}

.module{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.info h1{
    font-size: 60px;
    font-weight: 400;
}

.info-table{
    display: flex;
    gap: 30px;
    border-top: 1px solid #6F6F6F;
    border-bottom: 1px solid #6F6F6F;
    top: 1px;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom:20px;
}

.button button {
    background-color: #DFECC6;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 127px;
    height: 48px;
    border-radius: 35px;
    margin-top: 22px;
    color: #000000;
    box-shadow: none;
    border: none;
    outline: none;
}

.carouset{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.spec{
    text-align: center;
    gap: 120px;
    padding-top: 80px;
    padding-right: 240px;
    padding-left: 240px;
    padding-bottom: 80px;
}

.spec h1{
    font-size: 60px;
}

.spec .button li{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-left: -42px;

}

.table-head {
    flex: 1;
}

.table-border {
    border: 1px solid #E9E9E9;
    border-radius: 20px;
}

.table-head h2{
    border-bottom: 1px solid #929292 ;
    font-size: 25.71px;
    font-weight: 500;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
}

.table-head-1 h2{
    border-bottom: 1px solid #929292 ;
    font-size: 25.71px;
    font-weight: 500;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
}

.table-status{
    display: flex;
    border-bottom: 0.5px solid #929292 ;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    gap: 8px;
}

.table-status-1{
    display: flex;
    border-bottom: 0.5px solid #929292 ;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    gap: 8px;
    border-radius: 20px;
}

.table{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 120px;
    gap: 20px;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 120px;
}
.quote{
    padding: 40px;
}

.author span{
    display: block;
    margin: 8px;
}

.frame{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.lookup h1{
    font-size: 80px;
}

.centerd{
    text-align: center;
    padding-top:120px ;
    padding-bottom:120px;
    padding-left: 300px;
    padding-right: 300px;
}

.centerd h1{
    font-size: 60px;
}


.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
}

.nav{
    display: flex;
    gap: 50px;  
    padding-bottom: 80px;
    padding-top: 80px;
}

.extra{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

@media (min-width:769px) and (max-width:1024px)  {
    .Figma {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    }

    .sidebar{
    display: contents;
}

.padding{
    padding-top: 30px;
}

.table-1{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 120px;
    gap: 20px;
}

.image-1 {
    display: none;
}

.image-button{
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 30px;
    width: 95%;
}

.logo{
    font-size: 20px;
}

.header ul li{
    font-size: 45px;
}

.header ul li a{
    font-size: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
}
.menu li a:hover {
    color: aqua;
}

.banner {
    text-align: center;
}

.banner h2 {
    font-size: 100px;
    font-size: 111px;
    font-weight: 400;   
}

.image {
    position: relative;
    height: 500px;
}

.image img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.background {
    background-color: #8E9C78;
    width: 100%;
    height: 362px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
}

.text-common{
    color: #6F6F6F;
}

.text-color{
    color: #8E9C78;
}

.companies {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #929292 ;
}

.lego{
    display: flex;
    justify-content: center;
}

.benefits {
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 44px;
}

.benefits h1{
    font-size: 60px;
    font-weight: 400;
}


.modules1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 285px;
    height: 250px;
}

.modules1 img{
    width: 20.39px;
    height: 19.02px;
}

.modules{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 120px;
}

.module{
    display: grid;
    justify-content: center;
    gap: 24px;
    grid-template-columns: 2fr 2fr;
    padding-top: 30px;
        width: 95%;
    padding-left: 44px;
}

.info h1{
    font-size: 60px;
    font-weight: 400;
}

.info-table{
    display: flex;
    gap: 30px;
    border-top: 1px solid #6F6F6F;
    border-bottom: 1px solid #6F6F6F;
    top: 1px;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom:20px;
}

.carouset{
    display: block;
    width: 80%;
    padding-left: 90px;
}

.spec{
    text-align: center;
    gap: 120px;
    padding-top: 80px;
    padding-right: 240px;
    padding-left: 240px;
    padding-bottom: 80px;
}

.spec h1{
    font-size: 60px;
}

.spec .button li{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-left: -42px;

}

.table-head{
    flex: 1;
}

.table-head-1{
    flex: 1;
    border: 1px solid #E9E9E9;
    border-radius: 20px;
}

.table-head h2{
    border-bottom: 1px solid #929292 ;
    font-size: 25.71px;
    font-weight: 500;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
}

.table-head-1 h2{
    border-bottom: 1px solid #929292 ;
    font-size: 25.71px;
    font-weight: 500;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
}

.table-status{
    display: flex;
    border-bottom: 0.5px solid #929292 ;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    gap: 8px;
}

.table-status-1{
    display: flex;
    border-bottom: 0.5px solid #929292 ;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    gap: 8px;
    border-radius: 20px;
}

.table{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 120px;
    gap: 20px;
}

.section{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 120px;
}

.section img{
    padding-left: 120px;
}

.quote{
    padding: 40px;
}

.author span{
    display: block;
    margin: 8px;
    padding-top: 10px;
}

.frame{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.lookup h1{
    font-size: 80px;
}

.centerd{
    text-align: center;
    padding-top:0px ;
    padding-bottom:0px;
    padding-left: 0px;
    padding-right:  0px;
}

.centerd h1{
    font-size: 60px;
}

.centerd .button li{
    display: flex;
    justify-content: center;
    gap: 120px;
    background-color: #8E9C78;
    border-radius: 35px;
    padding-left: 0px;
}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
}

.nav{
    display: grid;
    gap: 50px;  
    padding-bottom: 80px;
    padding-top: 80px;
}

.extra{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
}

@media(max-width:768px)  {

    .Figma{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-inline: 8px;
    }

    .sidebar{
    display: block;
}

.image-button{
    display:flex;
    padding-top: 30px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0px;
    width: 95%;
}

.logo{
    font-size: 20px;
}

.header ul li{
    font-size: 45px;
}

.header ul li a{
    font-size: 20px;
}

.menu {
    display: none;
    justify-content: center;
    gap: 12px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
}
.menu li a:hover {
    color: aqua;
}
.learn-more {
    background-color: #485C11;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 127px;
    height: 48px;
    border-radius: 35px;
    margin-top: 22px;
    color: #E9E9E9;
    box-shadow: none;
    border: none;
    outline: none;
}

.banner {
    text-align: center;
}

.banner h2 {
    font-size: 70px;
    font-weight: 400;
    width: 100%;
    padding-bottom: 40px;   
}

.image{
    display: none;
}

.image-1 {
    display: flex;
    position: relative;
    height: 500px;
}

.image-1 img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.background {
    background-color: #8E9C78;
    width: 100%;
    height: 362px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
}

.text-common{
    color: #6F6F6F;
}

.text-color{
    color: #8E9C78;
}

.companies {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #929292 ;
}

.lego{
    display: flex;
    justify-content: center;
}

.benefits {
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 44px;
}

.benefits h1{
    font-size: 60px;
    font-weight: 400;
}


.modules1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 285px;
    height: 250px;
}

.modules1 img{
    width: 20.39px;
    height: 19.02px;
}

.modules{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 120px;
}

.module{
    display: block;
    justify-content: center;
    gap: 24px;
    grid-template-columns: 2fr 2fr;
    padding-top: 30px;
        width: 70%;
    padding-left: 44px;
}

.info h1{
    font-size: 60px;
    font-weight: 400;
}

.info-table{
    display: flex;
    gap: 30px;
    border-top: 1px solid #6F6F6F;
    border-bottom: 1px solid #6F6F6F;
    top: 1px;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom:20px;
}

.carouset{
    display: block;
    width: 80%;
    padding-left: 50px;
}

.carouset img{
    padding-top: 30px;
    width: 100%;
}

.spec{
    text-align: center;
    gap: 120px;
    padding-top: 30px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 80px;
}

.spec h1{
    font-size: 60px;
}

.spec .button li{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-left: -60px;

}

.table-head{
    flex: 1;
}

.table-head-1{
    flex: 1;
    border: 1px solid #E9E9E9;
    border-radius: 20px;
}

.table-head h2{
    border-bottom: 1px solid #929292 ;
    font-size: 25.71px;
    font-weight: 500;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
}

.table-head-1 h2{
    border-bottom: 1px solid #929292 ;
    font-size: 25.71px;
    font-weight: 500;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
}

.table-status{
    display: flex;
    border-bottom: 0.5px solid #929292 ;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    gap: 8px;
}

.table-status-1{
    display: flex;
    border-bottom: 0.5px solid #929292 ;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
    gap: 8px;
    border-radius: 20px;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 120px;
    gap: 0px;
}

.table-1{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 120px;
    gap: 20px;
}

.section{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
}

.section img{
    padding-left: 0px;
    width: 100%;
}

.quote{
    padding: 40px;
}

.author span{
    display: block;
    margin: 8px;
    padding-top: 10px;
}

.frame{
    display: block;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

.lookup h1{
    font-size: 80px;
}

.centerd{
    text-align: center;
    padding-top:0px ;
    padding-bottom:0px;
    padding-left: 0px;
    padding-right:  0px;
}

.centerd h1{
    font-size: 60px;
}

.centerd .button li{
    display: flex;
    justify-content: center;
    gap: 120px;
    background-color: #8E9C78;
    border-radius: 35px;
    padding-left: 0px;
}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 700;
}

.nav{
    display: grid;
    gap: 50px;  
    padding-bottom: 80px;
    padding-top: 80px;
}

.extra{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
}